<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<div id="profiles">
  <% if @profiles.nil? || @profiles.empty? %>
    <p>No profiles found.</p>
  <% else %>
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  <% end %>
  <% end %>
</div>

<%#= link_to "New profile", new_profile_path %>
