<div id="<%= dom_id terms_and_condition %>">
  <p>
    <strong>Title:</strong>
    <%= terms_and_condition.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= terms_and_condition.content %>
  </p>

</div>
