<h1>Editing terms and condition</h1>

<%= render "form", terms_and_condition: @terms_and_condition %>

<br>

<div>
  <%= link_to "Show this terms and condition", @terms_and_condition %> |
  <%= link_to "Back to terms and conditions", terms_and_conditions_path %>
</div>
